:root {
  --display-d1-36-SB-font-family: "Inter", Helvetica;
  --display-d1-36-SB-font-weight: 600;
  --display-d1-36-SB-font-size: 36px;
  --display-d1-36-SB-letter-spacing: 0px;
  --display-d1-36-SB-line-height: 139.9999976158142%;
  --display-d1-36-SB-font-style: normal;
  --display-d2-28-SB-font-family: "Inter", Helvetica;
  --display-d2-28-SB-font-weight: 600;
  --display-d2-28-SB-font-size: 28px;
  --display-d2-28-SB-letter-spacing: 0px;
  --display-d2-28-SB-line-height: 139.9999976158142%;
  --display-d2-28-SB-font-style: normal;
  --display-d3-24-SB-font-family: "Inter", Helvetica;
  --display-d3-24-SB-font-weight: 600;
  --display-d3-24-SB-font-size: 24px;
  --display-d3-24-SB-letter-spacing: 0px;
  --display-d3-24-SB-line-height: 139.9999976158142%;
  --display-d3-24-SB-font-style: normal;
  --headings-h1-28-SB-font-family: "Inter", Helvetica;
  --headings-h1-28-SB-font-weight: 600;
  --headings-h1-28-SB-font-size: 28px;
  --headings-h1-28-SB-letter-spacing: 0px;
  --headings-h1-28-SB-line-height: 139.9999976158142%;
  --headings-h1-28-SB-font-style: normal;
  --headings-h2-22-SB-font-family: "Inter", Helvetica;
  --headings-h2-22-SB-font-weight: 600;
  --headings-h2-22-SB-font-size: 22px;
  --headings-h2-22-SB-letter-spacing: 0px;
  --headings-h2-22-SB-line-height: 139.9999976158142%;
  --headings-h2-22-SB-font-style: normal;
  --headings-h3-18-SB-font-family: "Inter", Helvetica;
  --headings-h3-18-SB-font-weight: 600;
  --headings-h3-18-SB-font-size: 18px;
  --headings-h3-18-SB-letter-spacing: 0px;
  --headings-h3-18-SB-line-height: 139.9999976158142%;
  --headings-h3-18-SB-font-style: normal;
  --headings-h4-16-SB-font-family: "Inter", Helvetica;
  --headings-h4-16-SB-font-weight: 600;
  --headings-h4-16-SB-font-size: 16px;
  --headings-h4-16-SB-letter-spacing: 0px;
  --headings-h4-16-SB-line-height: 139.9999976158142%;
  --headings-h4-16-SB-font-style: normal;
  --headings-h5-14-SB-font-family: "Inter", Helvetica;
  --headings-h5-14-SB-font-weight: 600;
  --headings-h5-14-SB-font-size: 14px;
  --headings-h5-14-SB-letter-spacing: 0px;
  --headings-h5-14-SB-line-height: 139.9999976158142%;
  --headings-h5-14-SB-font-style: normal;
  --headings-h6-12-SB-font-family: "Inter", Helvetica;
  --headings-h6-12-SB-font-weight: 600;
  --headings-h6-12-SB-font-size: 12px;
  --headings-h6-12-SB-letter-spacing: 0px;
  --headings-h6-12-SB-line-height: 139.9999976158142%;
  --headings-h6-12-SB-font-style: normal;
  --body-b1-16-m-font-family: "Inter", Helvetica;
  --body-b1-16-m-font-weight: 500;
  --body-b1-16-m-font-size: 16px;
  --body-b1-16-m-letter-spacing: 0px;
  --body-b1-16-m-line-height: 139.9999976158142%;
  --body-b1-16-m-font-style: normal;
  --body-b2-16-r-font-family: "Inter", Helvetica;
  --body-b2-16-r-font-weight: 400;
  --body-b2-16-r-font-size: 16px;
  --body-b2-16-r-letter-spacing: 0px;
  --body-b2-16-r-line-height: 139.9999976158142%;
  --body-b2-16-r-font-style: normal;
  --body-b3-14-m-font-family: "Inter", Helvetica;
  --body-b3-14-m-font-weight: 500;
  --body-b3-14-m-font-size: 14px;
  --body-b3-14-m-letter-spacing: 0px;
  --body-b3-14-m-line-height: 139.9999976158142%;
  --body-b3-14-m-font-style: normal;
  --body-b4-14-r-font-family: "Inter", Helvetica;
  --body-b4-14-r-font-weight: 400;
  --body-b4-14-r-font-size: 14px;
  --body-b4-14-r-letter-spacing: 0px;
  --body-b4-14-r-line-height: 139.9999976158142%;
  --body-b4-14-r-font-style: normal;
  --body-b5-12-m-font-family: "Inter", Helvetica;
  --body-b5-12-m-font-weight: 500;
  --body-b5-12-m-font-size: 12px;
  --body-b5-12-m-letter-spacing: 0px;
  --body-b5-12-m-line-height: 139.9999976158142%;
  --body-b5-12-m-font-style: normal;
  --body-b6-12-r-font-family: "Inter", Helvetica;
  --body-b6-12-r-font-weight: 400;
  --body-b6-12-r-font-size: 12px;
  --body-b6-12-r-letter-spacing: 0px;
  --body-b6-12-r-line-height: 139.9999976158142%;
  --body-b6-12-r-font-style: normal;
  --actions-a1-16-m-font-family: "Inter", Helvetica;
  --actions-a1-16-m-font-weight: 500;
  --actions-a1-16-m-font-size: 16px;
  --actions-a1-16-m-letter-spacing: 0px;
  --actions-a1-16-m-line-height: 139.9999976158142%;
  --actions-a1-16-m-font-style: normal;
  --actions-a2-14-m-font-family: "Inter", Helvetica;
  --actions-a2-14-m-font-weight: 500;
  --actions-a2-14-m-font-size: 14px;
  --actions-a2-14-m-letter-spacing: 0px;
  --actions-a2-14-m-line-height: 139.9999976158142%;
  --actions-a2-14-m-font-style: normal;
  --actions-a3-12-m-font-family: "Inter", Helvetica;
  --actions-a3-12-m-font-weight: 500;
  --actions-a3-12-m-font-size: 12px;
  --actions-a3-12-m-letter-spacing: 0px;
  --actions-a3-12-m-line-height: 139.9999976158142%;
  --actions-a3-12-m-font-style: normal;
  --captions-c1-m-10-font-family: "Inter", Helvetica;
  --captions-c1-m-10-font-weight: 500;
  --captions-c1-m-10-font-size: 10px;
  --captions-c1-m-10-letter-spacing: 0px;
  --captions-c1-m-10-line-height: 150%;
  --captions-c1-m-10-font-style: normal;
  --field-labels-fl1-16-r-font-family: "Inter", Helvetica;
  --field-labels-fl1-16-r-font-weight: 400;
  --field-labels-fl1-16-r-font-size: 16px;
  --field-labels-fl1-16-r-letter-spacing: 0px;
  --field-labels-fl1-16-r-line-height: 139.9999976158142%;
  --field-labels-fl1-16-r-font-style: normal;
  --popover-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
  --variable-collection-brand-colors-indigo-600: rgba(42, 57, 198, 1);
  --variable-collection-brand-colors-indigo-500-primary: rgba(61, 76, 214, 1);
  --variable-collection-brand-colors-indigo-400: rgba(91, 103, 220, 1);
  --variable-collection-brand-colors-indigo-300: rgba(120, 131, 227, 1);
  --variable-collection-brand-colors-indigo-200: rgba(149, 158, 233, 1);
  --variable-collection-brand-colors-indigo-100: rgba(179, 185, 239, 1);
  --variable-collection-brand-colors-indigo-50: rgba(209, 212, 245, 1);
  --variable-collection-brand-colors-indigo-25: rgba(238, 239, 251, 1);
  --variable-collection-brand-colors-amber: rgba(245, 158, 11, 1);
  --variable-collection-brand-colors-blue-100: rgba(208, 226, 251, 1);
  --variable-collection-brand-colors-purple: rgba(106, 91, 226, 1);
  --variable-collection-status-colors-green: rgba(11, 141, 59, 1);
  --variable-collection-status-colors-red: rgba(239, 68, 68, 1);
  --variable-collection-status-colors-yellow: rgba(245, 158, 11, 1);
  --variable-collection-status-colors-green-100: rgba(208, 251, 224, 1);
  --variable-collection-status-colors-green-50: rgba(231, 253, 239, 1);
  --variable-collection-status-colors-yellow-50: rgba(254, 245, 231, 1);
  --variable-collection-status-colors-yellow-100: rgba(253, 236, 206, 1);
  --variable-collection-status-colors-red-100: rgba(253, 232, 232, 1);
  --variable-collection-status-colors-red-50: rgba(251, 208, 208, 1);
  --variable-collection-grays-gray-900-black: rgba(37, 37, 37, 1);
  --variable-collection-grays-gray-500: rgba(112, 112, 112, 1);
  --variable-collection-grays-gray-400: rgba(159, 159, 159, 1);
  --variable-collection-grays-gray-300: rgba(224, 224, 224, 1);
  --variable-collection-grays-gray-200-stroke: rgba(240, 240, 240, 1);
  --variable-collection-grays-gray-100: rgba(244, 244, 244, 1);
  --variable-collection-grays-gray-50-BG: rgba(249, 249, 249, 1);
  --variable-collection-grays-gray-0-white: rgba(255, 255, 255, 1);
  --variable-collection-status-colos-orange: rgba(243, 110, 39, 1);
}
